node_modules
/dist
/dist-docs
.DS_Store
/docs/.vitepress/cache
/docs/api
*.tsbuildinfo

packages/mp3-encoder/dist

# Browser Media Converter App
app/node_modules
app/dist
app/.env
app/.env.local
app/coverage
app/playwright-report
app/.vite